@font-face {
  font-family: 'fallback-thai';
  src: url('https://seafood667.github.io/ta8bit/ta8bit.ttf');
}

.font-tiny { font-family: 'tiny', 'fallback-thai'; font-size: 8px; line-height: 8px; }
.font-small_tight { font-family: 'small_tight', 'fallback-thai'; font-size: 8px; line-height: 8px; }
.font-small_harsh { font-family: 'small_harsh', 'fallback-thai'; font-size: 8px; line-height: 9px; }
.font-regular, body { font-family: 'regular', 'fallback-thai'; font-size: 8px; line-height: 8px; }
.font-regular_short { font-family: 'regular_short', 'fallback-thai'; font-size: 8px; line-height: 8px; }
.font-title_tall { font-family: 'title_tall', 'fallback-thai'; font-size: 16px; line-height: 16px; }
.font-title_news { font-family: 'title_news', 'fallback-thai'; font-size: 16px; line-height: 16px; }
.font-title_thick { font-family: 'title_thick', 'fallback-thai'; font-size: 14px; line-height: 11px; }
.font-ui_regular { font-family: 'ui_regular', 'fallback-thai'; font-size: 8px; line-height: 8px; }
.font-large { font-family: 'large', 'fallback-thai'; font-size: 8px; line-height: 10px; }
