@font-face {
  font-family: 'tiny';
  src: url('https://raw.githubusercontent.com/SEAFOOD667/ta8bit/main/ta8bit.ttf');
}
@font-face {
  font-family: 'small_tight';
  src: url('https://raw.githubusercontent.com/SEAFOOD667/ta8bit/main/ta8bit.ttf');
}
@font-face {
  font-family: 'small_harsh';
  src: url('https://raw.githubusercontent.com/SEAFOOD667/ta8bit/main/ta8bit.ttf');
}
@font-face {
  font-family: 'regular';
  src: url('https://raw.githubusercontent.com/SEAFOOD667/ta8bit/main/ta8bit.ttf');
}
@font-face {
  font-family: 'regular_short';
  src: url('https://raw.githubusercontent.com/SEAFOOD667/ta8bit/main/ta8bit.ttf');
}
@font-face {
  font-family: 'title_tall';
  src: url('https://raw.githubusercontent.com/SEAFOOD667/ta8bit/main/ta8bit.ttf');
}
@font-face {
  font-family: 'title_news';
  src: url('https://raw.githubusercontent.com/SEAFOOD667/ta8bit/main/ta8bit.ttf');
}
@font-face {
  font-family: 'title_thick';
  src: url('https://raw.githubusercontent.com/SEAFOOD667/ta8bit/main/ta8bit.ttf');
}
@font-face {
  font-family: 'ui_regular';
  src: url('https://raw.githubusercontent.com/SEAFOOD667/ta8bit/main/ta8bit.ttf');
}
@font-face {
  font-family: 'large';
  src: url('https://raw.githubusercontent.com/SEAFOOD667/ta8bit/main/ta8bit.ttf');
}